:root {
    font-size: 15px;
    font-family: 'Roboto', sans-serif;
    --text-primary: #b6b6b6;
    --text-secondary: #ececec;
    --bg-primary: #2f2f3d;
    --bg-secondary: #23232e;
    --border-primary: #343444;
    --transition-speed: 600ms;
}

body {
    background: var(--bg-primary);
    margin: 0;
    padding: 0;
}

main.chatbox::-webkit-scrollbar {
    width: 0.25rem;
}

main.chatbox::-webkit-scrollbar-track {
    background: #1e1e24;
}

main.chatbox::-webkit-scrollbar-thumb {
    background: #333333;
}

main {
    margin-left: 5rem;
    padding: 1rem;
}

main.chatbox {
    padding: 5vh;
    height: 100vh;
    margin: 6vh 0 10vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    border-bottom: 1px solid var(--bg-secondary);
    box-shadow: -1px 0px 20px 5px rgba(0, 0, 0, 0.250);
}

.App {
    max-width: 100vw;
    margin: 0 auto;
}

.App header {
    background-color: var(--bg-secondary);
    height: 10vh;
    min-height: 50px;
    color: white;
    position: fixed;
    width: 100%;
    max-width: 100vw;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 1;
    padding: 10px;
    box-sizing: border-box;
}

.App section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;
    background-color: var(--bg-primary);
}

form.messageForm {
    height: 100%;
    max-height: 5vh;
    width: 100%;
    max-width: 100vw;
    display: flex;
    font-size: 1.5rem;
    position: fixed;
    bottom: 0;
    margin-bottom: 2.5vh;
}

form.sign-in-form {
    max-width: 200px;
    width: 100%;
    align-self: center;
    margin-bottom: 10px;
    color: white;
}

input.typeMessage {
    line-height: 1.5;
    max-width: 50%;
    width: 100%;
    margin: 0 auto;
    font-size: 1.0rem;
    background: #1f1f1f;
    color: white;
    outline: none;
    border: none;
    border-radius: 5px;
    padding: 0 10px;
}

p.messages {
    max-width: 500px;
    margin-bottom: 20px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    display: inline-flex;
    word-break: break-word;
}

.message {
    display: flex;
    align-items: center;
}

.username {
    font-weight: 500;
    margin-left: 50px;
    position: relative;
    display: flex;
}

.usernameForm {
    margin: 0 auto;
}

.sent .username {
    color: var(--text-secondary);
}

.received .username {
    color: var(--text-primary);
}

.sent p {
    color: white;
    background: #00aeff;
}

.received p {
    background: #e5e5ea;
    color: #333333;
}

img.photoURL {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
}

.guideline {
    margin: 0 auto;
    color: white;
    margin-top: 5px;
}

.disclaimer {
    margin: 0 auto;
    color: white;
    margin-top: 10px;
}

.google-login {
    max-width: 200px;
    width: 100%;
    align-self: center;
}

.googleIcon {
    font-size: 18px;
    margin-right: 3px;
}

.register {
    max-width: 200px;
    width: 100%;
    bottom: 10px;
    align-self: center;
}

.registerIcon {
    font-size: 18px;
    margin-right: 3px;
}

.login {
    max-width: 200px;
    width: 100%;
    align-self: center;
    bottom: 20px;
}

.loginIcon {
    font-size: 18px;
    margin-right: 3px;
}

.logout {
    max-width: 200px;
    width: 100%;
}

.logoutIcon {
    font-size: 18px;
    margin-right: 3px;
}

.change-username {
    max-width: 200px;
    width: 100%;
}

.iconChangeUsername {
    font-size: 18px;
    margin-right: 3px;
}

.changeAvatar {
    max-width: 200px;
    width: 100%;
}

.iconChangeAvatar {
    font-size: 18px;
    margin-right: 3px;
}

.imagePrev {
    max-width: 250px;
    max-height: 250px;
    border: 1px solid var(--text-secondary);
}

.pixelIcon {
    color: #ff00ea;
    font-size: 3rem;
    transition: var(--transition-speed);
}

.pixelIcon:hover {
    color: #bb00ab;
    font-size: 4rem;
}

.form-group {
    margin-bottom: 20px;
    line-height: 12px;
}

.modalHeader {
    background-color: var(--bg-primary);
    color: var(--text-secondary);
    border-radius: 0px;
    border-bottom: none;
    border-left: 1px solid var(--border-primary);
    border-right: 1px solid var(--border-primary);
    border-top: 1px solid var(--border-primary);
}

.modalBody {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    border-left: 1px solid var(--border-primary);
    border-right: 1px solid var(--border-primary);
}

.modalFooter {
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    border-radius: 0;
    border-top: 1px solid var(--border-primary);
    border-left: 1px solid var(--border-primary);
    border-right: 1px solid var(--border-primary);
    border-bottom: 1px solid var(--border-primary);
}  

.MuiFormLabel-root {
    color: var(--text-primary) !important;
}

.MuiOutlinedInput-input {
    color: var(--text-primary) !important;
}

.loginError {
    position: relative;
    top: -20px;
    color: #ff5555;
}

.navigation {
    max-width: 450px;
}
.MuiBottomNavigation-root {
    background-color: var(--bg-primary) !important;
}

@media screen and (max-width: 670px) {
    .disclaimer {
        text-align: center;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .guideline {
        text-align: center;
        font-size: 14px;
        padding-left: 10px;
        padding-right: 10px;
    }
    .logout {
        width: 100px;
        height: 45px;
    }
    .change-username {
        max-width: 100px;
        height: 45px;
    }
    .changeAvatar {
        max-width: 100px;
        height: 45px;
    }
    .logoutIcon {
        display: none;
    }
    .iconChangeUsername {
        display: none;
    }
    .iconChangeAvatar {
        display: none;
    }
}